<section class="inline-padding max-width" id="about">
  <div class="about-holder hidden">
    <h2>About Me</h2>
    <p>
      I am a spring 2022 computer engineering graduate from the University of
      Pittsburgh. I am a driven and independent worker with personal interests
      in electronics, aerospace, woodworking, jewelry, and more. I’ve worked on
      a variety of projects you can view on this website. I am currently
      searching for electrical engineering and embedded software positions in
      the Pittsburgh area. Please feel free to view my
      <a href="/" class="inline-link reverse">resume</a> and
      <a href="#contact" class="inline-link reverse">contact me</a>.
    </p>
  </div>
</section>
