<section id="blogs" class="max-width">
  <div>
    <h2 class="hidden">Blogs</h2>
    <ol class="blog-list">
      {%- for blog in collections.blog | reverse -%}
      <li class="entry blog-entry hidden">
        <div>
          <h3>
            <a href="{{blog.url}}" class="inline-link">{{blog.data.title}}</a>
          </h3>
          <p>{{blog.data.desc}}</p>
          <p class="blog-date">{{blog.data.date | postDate}}</p>
        </div>
        <img src="{{blog.data.image}}" alt="{{blog.data.imageAlt}}" />
      </li>
      {%- endfor -%}
    </ol>
  </div>
</section>
