{% set type = "blog" %}
<ol class="unstyled">
  {%- for entry in collections[type] | reverse -%}
  <li class="entry blog">
    <a href="{{entry.url}}" class="title">{{entry.data.title}}</a>
    <p class="desc">{{entry.data.desc}}</p>
    
    {% if entry.data.year %}
    {% set date = entry.data.year %}
    {% else %}
    {% set date = entry.data.date | postDate %}
    {% endif %}

    <p class="sub">{{date}}</p>
  </li>
  {%- endfor -%}
</ol>