<section class="inline-padding" id="contact">
  <h2>Contact Me</h2>
  <p>Feel free to contact me with any offers or inquires.</p>

  <form name="contact" netlify>
    <div>
      <label><input type="text" name="name" placeholder="Name" /></label>
    </div>
    <div>
      <label><input type="email" name="email" placeholder="Email" /></label>
    </div>
    <div>
      <label><textarea type="message" name="message" placeholder="Message..."></textarea></label>
    </div>
    <div>
      <button type="submit" class="btn">Send</button>
    </div>
  </form>
</section>