<section class="inline-padding max-width" id="contact">
  <div class="about-holder">
    <div>
      <h2>Contact Me</h2>
      <p class="balanaced">
        Feel free to contact me with any offers or inquires. Remember to view my
        <a href="/" class="inline-link reverse">resume</a>.
      </p>
    </div>

    <form name="contact" netlify>
      <div>
        <div>
          <label><input type="text" name="name" placeholder="Name" /></label>
          <label><input type="email" name="email" placeholder="Email" /></label>
        </div>
        <label>
          <textarea
            type="message"
            name="message"
            placeholder="Message..."
          ></textarea>
        </label>
      </div>
      <button type="submit" class="btn">Send</button>
    </form>
  </div>
</section>
