<form name="contact" netlify>
  <form-grid>
    <label>
      <input-name>Name</input-name>
      <input type="text" name="name" />
    </label>
    <label>
      <input-name>Email</input-name>
      <input type="email" name="email" />
    </label>
    <label>
      <input-name>Message</input-name>
      <textarea
        type="message"
        name="message"
      ></textarea>
    </label>
  </form-grid>
  <button type="submit" class="btn">Send</button>
</form>