<ul class="project-list inline-padding-mobile" id="projects">
  {%- for project in collections.project | sortByOrder -%}
  <li class="project-entry">
    <div class="project-img">
      <a href="{{project.url}}">
        <img src="{{project.data.image}}" alt="{{project.data.imageAlt}}" />
      </a>
    </div>
    <div class="project-desc">
      <a href="{{project.url}}">
        <h2>{{project.data.title}}</h2>
      </a>
      <p>{{project.data.desc}}</p>
    </div>
  </li>
  {%- endfor -%}
</ul>