{% set type = "project" %}
<ol class="unstyled">
  {%- for entry in collections[type] | reverse -%}
  <li class="entry project">
    <entry-title>
      <a href="{{entry.url}}" class="title">{{entry.data.title}}</a>
      {% if entry.data.year %}
      {% set date = entry.data.year %}
      {% else %}
      {% set date = entry.data.date | postDate %}
      {% endif %}
      <p class="sub">{{date}}</p>
    </entry-title>
    
    <p class="desc">{{entry.data.desc}}</p>

    <img
      src="{{entry.data.image}}"
      alt="{{entry.data.imageAlt}}"
      height="100"
      width="100"
      style="aspect-ratio: 1;"
    />
  </li>
  {%- endfor -%}
</ol>