<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link
      href="/assets/public/et-logo.svg"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/assets/public/et-logo-light.svg"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <title>{% if title %}{{ title }} | {% endif %}Eric Trimbur</title>

    {# cms #}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include 'partials/header.njk' %}
    <main class="max-width">{{ content | safe }}</main>
    {% include 'partials/footer.njk' %}

    {# cms #}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/"
            })
          }
        })
      }
    </script>
  </body>
</html>
