---
layout: layouts/base.njk
---

<div class="writeup-holder max-width">
  <div>
    {% if content | toc %}
    <aside>
      <h2>Contents</h2>
      {{ content | toc | safe }}
    </aside>
    {% endif %}
  </div>
  <div class="writeup">
    {#
    <div class="project-hero" style="background-image: url({{image}})">
      #} {# <img src="{{image}}" /> #}
      <h1>{{title}}</h1>
      <p>{{dated}}</p>
      {#
    </div>
    #} {{ content | safe }} {#
    <h3>
      <a href="/#projects" class="inline-link reverse">Back to my portfolio.</a>
    </h3>
    #}
    <a href="/#projects" class="btn">Back to my projects</a>
  </div>
</div>
