---
title: Eric Trimbur
layout: layouts/base.njk
---

<h1>Eric Trimbur</h1>

<div>is a <b>computer engineer</b> in <b>Pittsburgh, PA</b>.</div>

<div>Example <code>monospace</code> text.</div>

{# <img src="/assets/img/eric.jpg"> #}