---
layout: layouts/base.njk
---

<section class="max-width">
  <div class="hero">
    <div class="hero-blurb">
      <h1>Eric Trimbur</h1>
      <p>is a computer engineer in Pittsburgh, PA.</p>
      <div class="hero-btns">
        <a href="#projects" class="btn">See my work</a>
        <a href="#contact" class="btn btn-secondary">Get in touch</a>
      </div>
    </div>
    <div class="hero-img-holder hidden">
      <div class="hero-img">
        <img
          src="/assets/public/pxl_20231227_171744541~2.webp"
          alt="eric trmibur"
          width="385"
          height="385"/>
      </div>
    </div>
  </div>
</section>

<section class="inline-padding max-width" id="about">
  <div class="about-holder hidden">
    <h2>About Me</h2>
    <p>
      I am a spring 2022 computer engineering graduate from the University of
      Pittsburgh. I am a driven and independent worker with personal interests
      in electronics, aerospace, woodworking, jewelry, and more. I’ve worked on
      a variety of projects you can view on this website. I am currently
      searching for electrical engineering and embedded software positions in
      the Pittsburgh area. Please feel free to view my
      <a href="/assets/public/resume.pdf">resume</a> and
      <a href="#contact">contact me</a>.
    </p>
  </div>
</section>


{% include 'sections/projectlist.njk' %}
{% include 'sections/bloglist.njk' %}
{% include 'sections/contact.njk' %}
