---
layout: layouts/base.njk
heroLine: "Hi, my name is"
heroHeading: "Eric Trimbur"
heroBio: "I'm a <b>computer engineer</b> working with <b>embedded systems</b> in Pittsburgh, PA. I have personal interest in electronics, aerospace, woodworking, jewelry, and more."
---

<section id="hero" style="margin-block: 100px;">
  <hero-card id="profile">
    <img
      src="/assets/public/pxl_20231227_171744541~2.webp"
      alt="eric trimbur"
      width="385"
      height="385"
      style="aspect-ratio: 1;"
    />
    <hero-name>
      <p class="alt accent">{{ heroLine | safe }}</p>
      <h1>{{ heroHeading | safe }}</h1>
      <p class="bio">{{ heroBio | safe }}</p>
      <a href="#projects" class="btn">See my work</a>
      <a href="#contact" class="btn btn-secondary">Get in touch</a>
    </hero-name>
  </hero-card>
</section>

<section id="projects">
  <h2 class="alt">Projects</h2>
  {% include 'sections/projectlist.njk' %}
</section>

<section id="blogs" class="smaller">
  <h2 class="alt">Blogs</h2>
  {% include 'sections/bloglist.njk' %}
</section>

<section id="contact" class="smaller">
  <h2 class="alt">Contact</h2>
  {% include 'sections/contact.njk' %}
</section>

