---
title: Projects
layout: 'layouts/base.njk'
---

<ul class="project-list">
  {%- for project in collections.project -%}
  <li class="project-entry row gx-0">
    <div class="project-img col-6">
      <a href="{{project.url}}">
        <img src="{{project.data.image}}" alt="{{project.data.imageAlt}}" />
      </a>
    </div>
    <div class="project-desc col-6">
      <a href="{{project.url}}">
        <h2>{{project.data.title}}</h2>
      </a>
      <p>{{project.data.desc}}<p>
    </div>
  </li>
  {%- endfor -%}
</ul>