<footer class="bottomnav inline-padding">
  <div>&copy; Eric Trimbur 2024</div>
  <nav>
    <a href="mailto:" class="icon-link"><i class="fa-solid fa-envelope"></i></a>
    <a href="" class="icon-link"><i class="fa-brands fa-linkedin"></i></a>
    <a href="" class="icon-link"><i class="fa-brands fa-github"></i></a>
  </nav>
</footer>
