<header class="max-width top-nav">
  <a href="/" class="unstyled">
    <my-logo
      class="logo"
      aria-label="eric trimbur"
    ></my-logo>
  </a>
  <nav class="nav-menu">
    <a class="inline-link no-underline" href="/#projects">Projects</a>
    <a class="inline-link no-underline" href="/#blogs">Blogs</a>
    <a class="inline-link no-underline" href="/assets/public/resume.pdf">Resume</a>
    <a class="inline-link no-underline" href="/#contact">Contact</a>
  </nav>
</header>
