<header class="topnav inline-padding">
  <nav>
    <a href="/#projects">projects</a>
    <a href="https://www.erictrimbur.com/s/Eric-Trimbur-Resume-Nov-2022.pdf">resume</a>
    <a href="/about">about</a>
    <a href="/#contact">contact</a>
    <button class="icon-button" title="change theme" onclick="changeTheme()">
      <i class="fa-solid fa-rocket"></i>
    </button>
  </nav>
</header>
