@use "fonts.scss";

:root {
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: "Schibsted Grotesk", sans-serif;

  color-scheme: light dark;
  --color-body: light-dark(hsl(15, 5%, 13%), hsl(34, 27%, 83%));
  --color-bg: light-dark(hsl(0, 17%, 98%), hsl(15, 4%, 10%));
  --color-accent: light-dark(hsl(20, 48%, 41%), hsl(22, 72%, 68%));
  --color-accent-2: light-dark(hsl(20, 25%, 50%), hsl(26, 48%, 74%));
  --color-bg-2: light-dark(hsl(34, 17%, 87%), hsl(10, 5%, 20%));
  
  scrollbar-color: var(--color-accent-2) var(--color-bg-2);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  background: var(--color-bg);
  color: var(--color-body);
  font-size: 1.125rem;

  display: flex;
  flex-direction: column;

  min-height: 100svh;
  main {
    flex-grow: 1;
  }
}

section {
  margin-block: 180px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.italics {
  font-style: italic;
  color: var(--color-body-alpha);
}

ol:not(.unstyled), ul:not(.unstyled) {
  padding-left: 28px;
}
ol:not(.unstyled) {
  list-style-type: decimal;
}
ul:not(.unstyled) {
  list-style-type: disc;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
}

details {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-bg-2);
  summary {
    cursor: pointer;
    font-weight: 700;
  }
  > *:last-child {
    margin-block: .5em; 
  }
}

.sr-only,
.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

.max-width {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}

my-logo {
  display: block;
  --logo-size: 1.25em;
  mask-size: var(--logo-size);
  width: var(--logo-size);
  aspect-ratio: 1;
  background-color: var(--color-accent-2);
  transition-property: background-color;
  transition-duration: 150ms;
  &:hover {
    background-color: var(--color-accent);
  }

  &.logo {
    --logo-size: 28px;
    mask-image: url("/assets/public/et-logo.svg");
  }
  &.github {
    mask-image: url("/assets/public/github-logo-bold.svg");
  }
  &.email {
    mask-image: url("/assets/public/envelope-bold.svg");
  }
  &.linkedin {
    mask-image: url("/assets/public/linkedin-logo-bold.svg");
  }
}

a:not(.btn):not(.unstyled) {
  color: var(--color-accent-2);
  transition-property: color, background-size;
  transition-duration: 300ms;

  --bg-height: .125em;
  background-image: linear-gradient(to right, var(--color-accent));
  background-repeat: no-repeat;
  background-size: 0% var(--bg-height);
  background-position: bottom left;
  &:hover,
  &:focus {
    color: var(--color-accent);
    background-size: 100% var(--bg-height);
  }
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  color: var(--color-bg);
  border-radius: 100px;

  transition-property: color;
  transition-duration: 150ms;

  overflow: hidden;
  position: relative;

  &.btn-secondary {
    color: var(--color-body);
    &::after {
      color: var(--color-body);
      background-color: var(--color-accent);
      background: linear-gradient(
        0deg,
        var(--color-accent) 50%,
        var(--color-bg-2) 50%
      );
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--color-accent);
    background: linear-gradient(
      0deg,
      var(--color-accent) 50%,
      var(--color-accent-2) 50%
    );
    z-index: -1;
    transition-property: left, top;
    transition-duration: 300ms;
  }

  &:hover,
  &:focus {
    color: var(--color-bg);
    border: none;
    &::after {
      top: -100%;
    }
  }
}

.title {
  font-family: var(--font-heading);
  font-size: 1.5em;
  line-height: 1.1;
  text-wrap: balance;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 18px;
  gap: 16px;
}

.nav-menu {
  display: flex;
  gap: 14px;
  @media (width >= 800px) {
    gap: 24px;
  }
}

// HERO

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

hero-card {
  display: flex;
  max-width: 850px;
  gap: 2em 42px;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  @media (width < 800px) {
    flex-direction: column;
  }

  h1 {
    font-size: 3.25em;
  }
  img {
    border-radius: 100%;
  }

  hero-name {
    flex-shrink: 0;
    .bio {
      max-width: 50ch;
      margin-block: .625em 1em;
    }
    @media (width < 800px) {
      text-align: center;
    }
  }

  picture {
    position: relative;
    aspect-ratio: 1;
    flex-shrink: 1;
    @media (width >= 800px) {
      margin-left: 32px;
    }
    @media (width < 800px) {
      max-width: 300px;
    }

    &::after, &::before {
      content:"";
      position: absolute;
      z-index: -2;
    }
    &::after {
      background-color: var(--color-accent-2);
      width: 102%;
      height: 99%;
      top: 5%;
      left: -3%;
      border-radius: 47%;

      animation-duration: 23000ms;
      animation-name: spin;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    &::before {
      background-color: var(--color-bg-2);
      width: 94%;
      height: 96%;
      top: -2%;
      left: -0%;
      border-radius: 50%;
      filter: blur(36px);
    }
  }
}

.alt {
  font-family: var(--font-body);
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .0625em;
  font-weight: 400;
}
.accent {
  color: var(--color-accent-2);
}
.sub {
  opacity: .5;
}

section h2 {
  --entry-spacing: 24px;
  margin-bottom: var(--entry-spacing);
  padding-bottom: var(--entry-spacing);
  border-bottom: 1px solid var(--color-bg-2);
}

// PROJECTS

.entry {
  --entry-spacing: 24px;
  &:not(:first-child) {
    margin-top: var(--entry-spacing);
    padding-top: var(--entry-spacing);
    border-top: 1px solid var(--color-bg-2);
  }

  &.project {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) 100px;
    gap: 8px 24px;
    @media (width < 800px) {
      grid-template-columns: 1fr 100px;
      grid-template-rows: auto 1fr;
      *:last-child {
        grid-row: 1 / span 2;
        grid-column-start: 2;
      }
    }
    @media (width < 500px) {
      grid-template-columns: 1fr 70px;
    }
  }
  &.blog {
    .desc {
      margin-block: .375em .25em;
    }
  }
}

write-up {
  display: block;
  margin-block: 50px 100px;
  max-width: 70ch;
  margin-inline: auto;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5em;
  }

  > * {
    margin-block: 1rem;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header-anchor:not(#fake) {
  opacity: 0;
  transition-duration: 150ms;
  transition-property: opacity, background-size;
  h2:hover &, &:focus {
    opacity: 1;
  }
}

// FORM

form-grid {
  display: flex;
  flex-wrap: wrap;
  --form-gap: 4px;
  gap: calc(var(--form-gap) * 2);
  margin-bottom: 28px;

  label {
    flex-grow: 1;
    min-width: 150px;
  }
  label:has(textarea) {
    width: 100%;
  }
  input, textarea {
    background-color: var(--color-bg-2);
    border-radius: 4px;
    padding: 4px 8px;
  }
  label {
    display: grid;
    gap: 4px;
  }
}

.smaller {
  margin-inline: auto;
  max-width: 600px;
}

footer.top-nav {
  margin-bottom: 60px;
}