@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --font-body: "Inter Tight", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;
  --font-mono: "Inconsolata", monospace;

  font-size: clamp(1rem, 3vw, 1.5rem);
  scrollbar-color: var(--color-body) var(--color-bg);
}

::selection {
  background-color: var(--color-body);
  color: var(--color-bg);
}

html[data-theme="theme-0"] {
  --color-body: hsl(258, 92%, 14%);
  --color-bg: hsl(55, 17%, 73%);
  --color-accent: red;
}

html[data-theme="theme-1"] {
  --color-body: #ecb821;
  --color-bg: #370f8c;
  --color-accent: red;
}

html[data-theme="theme-2"] {
  --color-body: hsl(254, 49%, 49%);
  --color-bg: hsl(73, 86%, 54%);
  --color-accent: red;
}

html[data-theme="theme-3"] {
  --color-body: #fdf792;
  --color-bg: hsl(33, 75%, 31%);
  --color-accent: red;
}

html[data-theme="theme-4"] {
  --color-body: #273c00;
  --color-bg: #d7c2ff;
  --color-accent: red;
}

html[data-theme="theme-5"] {
  --color-body: #f9d44b;
  --color-bg: #aa233d;
  --color-accent: red;
}

@mixin box-shadow-inset($i) {
  box-shadow: inset 0 calc($i - 5px) 0 -5px var(--color-body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: var(--font-body);
  font-weight: 300;
  background: var(--color-bg);
  color: var(--color-body);

  display: flex;
  flex-direction: column;
  min-height: 100svh;

  overflow-x: hidden;

  // padding: clamp(10px, 3vw, 32px);
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading);
  font-weight: 400;
}

a {
  color: var(--color-body);
  // text-decoration: none;
}

b {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

code {
  color: inherit;
  font-family: var(--font-mono);
  font-size: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

box-icon {
  color: var(--color-body);
}

.btn-clear {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
}

// header and footer

.topnav {
  margin-block: 16px;
  nav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.bottomnav {
  display: flex;
  justify-content: space-between;
  margin-block: 16px;
  nav {
    display: flex;
    gap: 1.5rem;
  }
}

.icon-button,
.icon-link {
  background: none;
  border: none;
  color: var(--color-body);
  text-decoration: none;
}

// hero

.hero {
  min-height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: clamp(2rem, calc(3vw + 4rem), 6.5rem);
    line-height: 1;
    @include box-shadow-inset(-0.05em);
    margin-bottom: 6px;
  }
  p {
    font-size: clamp(1rem, calc(3vw + 1rem), 3.5rem);
    line-height: 1.4;

    text-wrap: balance;

    i {
      margin-left: 0.1em;
    }
  }
}

// projects

.project-list {
  list-style-type: none;
  padding: 0;
}

.project-entry {
  display: grid;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;

    &:nth-child(2n) {
      .project-img {
        grid-column-start: 2;
      }
      .project-desc {
        text-align: right;
        grid-column-start: 1;
        grid-row-start: 1;
      }
    }
  }

  // offset descriptions for mobile view
  // not sure if i like this
  /*@media (max-width: 600px) {
    grid-template-columns: 32px auto;
    grid-template-rows: 1fr 32px auto;
    .project-img {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
    .project-desc {
      grid-column: 2 / span 1;
      grid-row: 2 / span 2;
    }
  }*/
}

$aspect-square: 1;
$aspect-comfy: 1.33;
$aspect-slim: 1.2;

.project-img {
  aspect-ratio: $aspect-slim;
  overflow: none;
  @media (min-width: 600px) {
    aspect-ratio: $aspect-square;
  }
  @media (min-width: 1000px) {
    aspect-ratio: $aspect-comfy;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.project-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;

  aspect-ratio: $aspect-slim;
  padding-block: 22px;

  padding-inline: 1rem;

  h2 {
    font-size: clamp(2rem, calc(3vw + 2.1rem), 3.75rem);
    line-height: 1;

    @media (min-width: 600px) {
      font-size: clamp(2rem, calc(3vw + 1.3rem), 3.75rem);
    }
  }
  p {
    font-size: clamp(1rem, calc(3vw + 0.5rem), 1.5rem);
    line-height: 1.4;
    margin-bottom: 0;

    @media (min-width: 600px) {
      font-size: clamp(1rem, calc(3vw - 0.5rem), 1.5rem);
    }
  }
  a {
    text-decoration: none;
  }

  h2 {
    @include box-shadow-inset(-0.05em);
  }

  @media (min-width: 600px) {
    justify-content: center;
    aspect-ratio: $aspect-square;
    padding-block: 0;
    margin-bottom: 0;
  }
  @media (min-width: 1000px) {
    aspect-ratio: $aspect-comfy;
  }
}

// helper class

$padding: clamp(16px, 3vw, 30px);

.inline-padding {
  padding-inline: $padding;
}

.inline-padding-mobile {
  padding-inline: $padding;
  @media (min-width: 600px) {
    padding-inline: 0;
  }
}

/// contact

#contact {
  min-height: 95svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact h2 {
  font-size: clamp(3.5rem, calc(3vw + 2rem), 6.5rem);
}

form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

label {
  width: 100%;
}

input,
textarea {
  background: none;
  border: none;
  border-bottom: 2px solid var(--color-body);
  color: inherit;
  width: 100%;
}

textarea {
  min-height: 4rem;
}

.btn {
  color: var(--color-bg);
  background: var(--color-body);
  border-radius: 4px;
  // background: none;
  // border: none;
  // margin: 0;
  // padding: 0;
  // text-decoration: underline;
}

// project pages

.project-writeup {
  max-width: 38rem;

  h1 {
    font-size: clamp(2rem, calc(3vw + 2.1rem), 3.75rem);
    @include box-shadow-inset(-0.075em);
    margin-bottom: 1rem;
  }

  h2 {
    scroll-margin: 20px;
    display: inline;
    margin-right: 0.1em;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.toc {
  border: 1px solid var(--color-body);
  ol {
    margin-block: 0.75rem;
  }
}

.heading-wrapper {
  margin-block: 2.2rem 0.5rem;

  &:hover {
    .header-anchor {
      opacity: 1;
    }
  }
}

.header-anchor {
  opacity: 0;
  transition-property: opacity;
  transition: 150ms ease-in-out;
}

.eleventy-plugin-youtube-embed {
  margin-bottom: 1rem;
}

// on-scroll transitions

.hidden {
  opacity: 1;
  transform: translateX(100%);
  &:nth-of-type(2n-1) {
    transform: translateX(-100%);
  }
  @media (prefers-reduced-motion: no-preference) {
    transition-property: opacity transform;
    transition: 600ms ease-in-out;
  }
}

.show {
  transform: translateX(0%) !important;
  opacity: 1;
}
