@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-body: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;

  --color-bg: hsl(15, 5%, 13%);
  --color-body: hsl(34, 27%, 83%);
  --color-accent: hwb(22 45% 9%);
  --color-accent-2: hsl(26, 48%, 74%);
  --color-bg-2: hsl(10, 5%, 20%);

  --color-body-alpha: hsl(168, 10%, 90%, 40%);

  // --color-bg: hsl(195, 22%, 93%);
  // --color-body: hsl(229, 12%, 15%);
  // --color-accent: hsl(352, 74%, 52%);
  // --color-body-alpha: hsla(229, 12%, 15%, 0.376);

  scrollbar-color: var(--color-body) var(--color-bg);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  background: var(--color-bg);
  color: var(--color-body);

  display: flex;
  flex-direction: column;
}

section {
  // margin-block: 3em;
  min-height: 100svh;
  display: grid;
  align-items: center;
  // margin-block: 100px;
}

section.invert {
  color: var(--color-bg);
  background-color: var(--color-body);
}

section:has(.hero) {
  min-height: 70svh;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  line-height: 1.1;
  font-size: 3em;
  margin-bottom: 10px;
}

.hero {
  h1 {
    font-size: 4em;

    line-height: 1;
    font-weight: 700;
    color: var(--color-accent-2);
    margin-bottom: 6px;

    @media (min-width: 800px) {
      font-size: 5em;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  p {
    font-size: 1.3em;
    margin-bottom: 16px;
    // margin-bottom: 16px;

    @media (min-width: 800px) {
      font-size: 1.5em;
    }
  }

  > div {
    display: flex;
    gap: 8px 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    a {
      margin-block: 0;
    }
  }
}

h2 {
  font-size: 1em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 0.3em;
  font-weight: 400;
}

.sr-only,
.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

.balanaced {
  text-wrap: balance;
}

.max-width {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: clamp(24px, 5vw, 48px);
  // padding-inline: clamp(24px, 4vw, 348px);
}

.icon-btn {
  background: var(--color-accent-2);
  color: var(--color-bg);
  border-radius: 100em;
  aspect-ratio: 1;
  height: 1.6em;
  border: none;
  // cursor: pointer;

  display: grid;
  place-items: center;
}

.logo {
  background: none;
  filter: invert(80%) sepia(13%) saturate(677%) hue-rotate(343deg)
    brightness(97%) contrast(84%);
  // filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
  // brightness(102%) contrast(102%);
  // filter: invert(90%) sepia(12%) saturate(246%) hue-rotate(354deg)
  // brightness(99%) contrast(82%);
  transition-property: filter;
  transition-duration: 150ms;
}

.logo:hover {
  // filter: invert(80%) sepia(13%) saturate(677%) hue-rotate(343deg)
  // brightness(97%) contrast(84%);
  filter: invert(70%) sepia(16%) saturate(1210%) hue-rotate(336deg)
    brightness(97%) contrast(88%);
}

.writeup-holder a:not(.btn),
.inline-link {
  color: var(--color-accent-2);
  font-weight: 500;
  transition-property: color, box-shadow;
  transition-duration: 200ms;

  box-shadow: 0px 0px transparent inset;
}

.writeup-holder a:not(.btn):hover,
.inline-link:hover {
  color: var(--color-accent);
  box-shadow: 0px -0.3em var(--color-accent) inset;
}

.icon-link:hover {
  color: var(--color-accent);
}

.no-underline {
  box-shadow: none;
}

.icon-link {
  transition-property: color;
  transition-duration: 150ms;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  border: none;
  color: var(--color-bg);
  position: relative;
  border-radius: 100px;
  margin-block: 8px;

  transition-property: color;
  transition-duration: 150ms;

  overflow: hidden;
  position: relative;
}

.btn::after {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--color-accent);
  background: linear-gradient(
    0deg,
    var(--color-accent) 50%,
    var(--color-accent-2) 50%
  );

  z-index: -1;

  transition-property: left, top;
  transition-duration: 300ms;
}

.btn-secondary {
  color: var(--color-body);
}

.btn-secondary::after {
  color: var(--color-body);
  background-color: var(--color-accent);
  background: linear-gradient(
    0deg,
    var(--color-accent) 50%,
    var(--color-bg-2) 50%
  );
}

.btn:hover {
  color: var(--color-bg);
  border: none;
}

.btn:hover::after {
  top: -100%;
}

button {
  background: none;
  cursor: pointer;
}

// nav

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.2em;
  margin-bottom: 3em;
}

.nav-menu {
  display: flex;
  gap: 14px;
  @media (min-width: 800px) {
    gap: 24px;
  }
}

// aboot

.about-holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  p {
    max-width: 60ch;
    // min-width: 30ch;
    font-size: 1.2em;
    @media (min-width: 800px) {
      font-size: 1.35em;
    }
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
}

// projects

.project-entry {
  border-top: 1px solid var(--color-body-alpha);
  display: grid;
  grid-template-columns: minmax(0, 3.5fr) minmax(0, 5fr) 100px;
  // grid-auto-rows: max-content;
  gap: 24px;
  padding-block: 28px;

  p {
    max-width: 50ch;
    @media (max-width: 800px) {
      grid-column-start: 1;
    }
  }

  img {
    border-radius: 16px;
    aspect-ratio: 1;
    width: 100%;
    @media (max-width: 800px) {
      grid-row: 1 / span 2;
      grid-column-start: 2;
    }
  }

  h3 {
    font-size: 2em;
    @media (max-width: 1000px) {
      font-size: 1.5em;
    }
    @media (max-width: 500px) {
      font-size: 1.2em;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: auto clamp(70px, 10vw, 100px);
    row-gap: 4px;
    column-gap: 14px;
  }
}

.blog-entry {
  border-top: 1px solid var(--color-body-alpha);
  display: grid;
  grid-template-columns: 1fr 100px;
  // grid-auto-rows: max-content;
  gap: 4px 24px;
  padding-block: 28px;

  p {
    max-width: 50ch;
    @media (max-width: 800px) {
      grid-column-start: 1;
    }
  }

  img {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    border-radius: 16px;
    aspect-ratio: 1;
    width: 100%;
    @media (max-width: 800px) {
      grid-row: 1 / span 2;
      grid-column-start: 2;
    }
  }

  h3 {
    font-size: 2em;
    @media (max-width: 1000px) {
      font-size: 1.5em;
    }
    @media (max-width: 500px) {
      font-size: 1.2em;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: auto clamp(70px, 10vw, 100px);
    row-gap: 4px;
    column-gap: 14px;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

.project-desc {
  gap: 0.8em;
}

.project-desc a,
.project-desc h2 {
  display: inline;
}

// contact

input,
textarea {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-body-alpha);
  color: var(--color-body);
  padding: 4px 0;

  font-size: 1.1rem;
  margin-bottom: 2px;

  width: 100%;
}

textarea {
  resize: vertical;
}

form > div {
  display: grid;
  gap: 6px;
  max-width: 65ch;

  margin-top: 16px;
  @media (min-width: 800px) {
    margin-top: 0px;
  }
  > div {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    > * {
      flex-grow: 1;
      min-width: 200px;
    }
  }
}

html:has(.writeup-holder),
body:has(.writeup-holder) {
  overflow: initial !important;
}

aside {
  font-size: 1.2em;
  border-bottom: 1px solid var(--color-body);
  padding-bottom: 50px;

  h2 {
    font-size: 1.5em;
    margin-bottom: 4px;
  }

  @media (min-width: 800px) {
    position: sticky;
    top: 32px;
    border-bottom: none;
  }
}

.writeup-holder > div:nth-child(1) {
  display: none;
  @media (min-width: 800px) {
    display: block;
  }
}

.toc {
  ol {
    line-height: 1.25;

    li {
      margin-bottom: 6px;
    }
  }
}

ol ::marker {
  font-size: 0.85em;
}

.writeup-holder {
  display: grid;
  column-gap: clamp(10px, 3vw, 50px);
  row-gap: 50px;
  ol,
  ul {
    margin-block: 8px;
    padding-left: 32px;
  }

  p {
    margin-bottom: 16px;
    &:not(:has(> img)) {
      max-width: 70ch;
    }
  }
  img {
    margin-block: 24px;
    max-height: 600px;
  }

  @media (min-width: 800px) {
    grid-template-columns: 250px auto;
  }
}

.writeup {
  h2 {
    font-size: 32px;
    margin-bottom: 0;
  }

  @media (min-width: 800px) {
    border-left: 1px solid var(--color-body);
    padding-left: 32px;
  }
}

.heading-wrapper {
  margin-block: 38px 16px;
  * {
    display: inline;
  }
}

.header-anchor {
  display: none !important;
  font-size: 1.5em;
  margin-left: 6px;
}

.project-hero {
  display: grid;
  position: relative;
  height: 500px;
  overflow-y: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  img {
    // margin: 0;
    // max-height: none;
    // grid-row: 1 / span 2;
    // grid-column: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: red;
    background: linear-gradient(
      0deg,
      var(--color-bg) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  h1 {
    z-index: 2;
    // grid-row: 1 / span 1;
    // grid-column: 1;
    align-self: end;
    // position: relative;
    // bottom: 0;
    // left: 50px;
    margin-left: 14px;
    margin-bottom: 30px;
    font-size: 4em;
    line-height: 1.1;
    // text-align: center;
  }
}

//animate on scroll

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 0.75s;
  }
}

.hidden {
  opacity: 0;
  filter: blur(6px);
  // transform: translateY(50px);
}

.show {
  opacity: 1;
  filter: blur(0);
  // transform: translateY(0);
}
